In [2]:
import pandas as pd
import numpy as np

In [3]:
#importing datasets
data = pd.read_csv("../datasets/Workexo.csv", usecols = ['JobInvolvement', 'Department','HourlyRate', 'StandardHours','PerformanceRating'])

data=data.reindex(columns=['Department','JobInvolvement', 'HourlyRate', 'StandardHours','PerformanceRating'])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 5 columns):
Department           1470 non-null object
JobInvolvement       1470 non-null int64
HourlyRate           1470 non-null int64
StandardHours        1470 non-null int64
PerformanceRating    1470 non-null int64
dtypes: int64(4), object(1)
memory usage: 57.5+ KB

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 5 columns):
Department           1470 non-null object
JobInvolvement       1470 non-null int64
HourlyRate           1470 non-null int64
StandardHours        1470 non-null int64
PerformanceRating    1470 non-null int64
dtypes: int64(4), object(1)
memory usage: 57.5+ KB

In [8]:
data.head()

,Department,JobInvolvement,HourlyRate,StandardHours,PerformanceRating
0,Sales,3,94,80,3
1,Research & Development,2,61,80,4
2,Research & Development,2,92,80,3
3,Research & Development,3,56,80,3
4,Research & Development,3,40,80,3

In [9]:
#distributiOneHotEncoderng independent and dependent variables
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [10]:
print(X)

[['Sales' 3 94 80]
 ['Research & Development' 2 61 80]
 ['Research & Development' 2 92 80]
 ...
 ['Research & Development' 4 87 80]
 ['Sales' 2 63 80]
 ['Research & Development' 4 82 80]]

In [11]:
#Integer Encoding of Department type
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X[:,0] = label_encoder.fit_transform(X[:,0])
X = X.astype(np.int64)

In [12]:
#Independent variable after Integer Encoding
print(X)

[[ 2  3 94 80]
 [ 1  2 61 80]
 [ 1  2 92 80]
 ...
 [ 1  4 87 80]
 [ 2  2 63 80]
 [ 1  4 82 80]]

In [13]:
#Splitting the dataset into Training and Test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [15]:
#FItting logistic regresion model in the Training Set
from sklearn.linear_model import LogisticRegression
clf_LR = LogisticRegression()
clf_LR.fit(X_train,y_train)

#Predicting the Test Set Results
y_LR = clf_LR.predict(X_test)

print(clf_LR.score(X_test, y_test))

0.8342391304347826